.data-grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    display: flex;
    align-items: center;
    flex: 0 0 calc(20% - 10px);
    /* Adjust the width based on your preference */
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.grid-item:hover {
    background-color: #f0f0f0;
}

.mini {
    aspect-ratio: 1/1;
    width: 10%;
    padding-right: .69rem;
}